// .submit-button {
//   margin: 0 auto;
//   background-color: #22c1c3;
//   font-weight: bold;
//   font-size: 20px;
//   border: 2px solid #757474;
//   padding: 0.5rem 2rem;
//   border-radius: 10px;

//   &:hover {
//     background-color: darken( #22c1c3, 7.5);
//     cursor: pointer;
//   }
  
// }

.score {
  color: rgb(19, 134, 19);
  font-weight: bold;
  font-size: 18px;
}

// .button {
//   padding: 15px;
// }
