.card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    line-height: 48px;
    width: 216px;
    text-align: center;
    margin: 18px;
    border: 2px solid #757474;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    user-select: none;
    perspective: 1000px;
    
}

.card {
    transition: ease-in;
    transform-style: preserve-3d;
}

.card-container:hover {
    display: inline;
    /* transform: rotateY(180deg); */
    /* transition: all 0.8s ease-in-out; */
}

.front, .back {
    backface-visibility: hidden;
    background-color: rgb(255, 255, 255);
}

/* .card-container .back {
    display: none;
    /* transform: rotateY(180deg); */

/* 
.card-button {
    color: inherit;
    background-color: inherit;
    font: inherit;
    padding: 0;
    border: none;
    border-radius: inherit;
    cursor: inherit;
} */