.card-front {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  line-height: 48px;
  width: 216px;
  text-align: center;
  margin: 18px;
  border: 2px solid #757474;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgb(255, 255, 255);
  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: #e8e8e8;
  }
}

.quiz-card {
  margin: auto;
}

.quiz-card--matched {
  border-color: rgb(67, 199, 67);
}

.quiz-card--incorrect {
  border-color: rgb(199, 67, 78);
}

.text-input {
  border: 2px solid #eee;
  border-radius: 3px;
  padding: 0.5rem;
}