.card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  line-height: 48px;
  width: 216px;
  text-align: center;
  margin: 18px;
  border: 2px solid #757474;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: darken(white, 10);
    cursor: pointer;
  }
}